/*Styling the background image*/
.hero 
 {background-image: url(../images/forest.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 30rem;  
  margin:0;}

 /*Styling the footer and the navigation background*/   
.nav, .foot 
 {background-color: rgb(161, 238, 106);
  padding-top: 1%;
  padding-bottom: 1%;}   

/*Styling the text inside the upper div and inside the nav*/
.p-1, .nav a 
 {color:rgb(21, 94, 28); 
  font-size: 1.7rem;
  margin:0;
  font-weight: 700;
  font-family:Times;}

  .p-1 
  {padding-left:2%;}

/*Giving the nav some individual styling*/
 .nav a 
 {text-decoration: none;
  padding-left: 13%;
  padding-right:0;}

/*styling the hovering effects on the nav*/
 a:hover {text-decoration:underline;} 
 
 /*Styling the divs on all pages*/
 .intro, .div2, .video, #quiz, #contact-form
 {padding-left: 10%;
  padding-top: 0.5%;
  padding-bottom: 3%;
  padding-right: 10%;
  background-color: rgb(233, 243, 209);}

 /*Styling the textcontent in divs on all pages.*/
 .intro h1 
{text-align: center;
 font-family: Times;
 font-size: 2.5rem;}

.div2 h2, #quiz h2
{text-align: center;
 font-family: Times;
 font-size: 1.9rem;}

.intro p, .div2 p, #contact-form p, #quiz p
{font-family: Times;
 font-size: 1.4rem;
 text-align: center;}

 /*Styling the submit button*/
#submit
{margin-right: 45%;
 margin-left: 45%;}

/*Placing the forms in the middle*/
  form {display: grid;}

/*Styling the unordered list text since this text did not look good centered.*/
#list 
{font-family: Times;
 font-size: 1.4rem;}
    
/*Styling the images of/in h1 on all pages*/
.daisy1, .daisy2
{border-radius: 50%;
 width: 5rem;
 height: 5rem;}

 /*Styling images on all pages*/
 #women, #lake, #man, #reading, #feet
{width:50%;
 padding-left:25%}

/*Making the youtube video responsive. To accomplish this I have used a code snippet from the website: ostraining.com*/
.video
{overflow: hidden;
 padding-bottom: 56.25%;
 position: relative;
 height: 0;}

.video iframe 
{left: 0;
 top: 0;
 height: 100%;
 width: 100%;
 position: absolute;}

 /*Styling the contactform*/
 #name, #email, #msg
 {margin-left:20%;
  margin-right:20%;}

#send
{margin-left: 45%;
 margin-right: 45%;}

 /*Styling the footer content*/
.foot p
{color: rgb(18, 58, 22);
 font-family: Times;
 font-size: 1.2rem;
 text-align: center;}             

/*Adding media queries to make the site more responsive*/
 @media (max-width:710px) 
 {.daisy2 {display:none;}}

 @media (max-width:750px){
 .nav a {font-size: 1rem;
         padding-left: 5%;
         padding-right: 1%;}

 .p-1 {font-size: 1rem;}}

 @media (max-width:740px){
 #submit, #send 
        {width:25%;
        margin-right:60%;
        margin-left:40%;}}